.gradle/
.idea/
course-info.yaml
course-remote-info.yaml
Meal Planner (Java)/Add meals/
Meal Planner (Java)/Create a menu/
Meal Planner (Java)/Database storage/
Meal Planner (Java)/Shopping list/
Meal Planner (Java)/Show saved meals/
Meal Planner (Java)/Weekly plan/
Meal Planner (Java)/lesson-info.yaml
Meal Planner (Java)/task/build/test-results/
Meal Planner (Java)/task/build/tmp/
Meal Planner (Java)/task/build/reports/
Meal Planner (Java)/task/build/classes/java/main/  
